<!DOCTYPE html>
<html>
  <head>
    <title>Autores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Autores del Quiz</h1>
    <p>Luz Izquierdo de Diego y Olalla Otero Villamide</p>
    <p><a href="/index">Volver al inicio</a></p>
    <img  src='/images/luzyolalla.jpg' height ="400px" width="272px">
  </body>
</html>
